:root
	--main-bg: #32B9AA
	--main-bg-gas: #32B9AA
	--text-color: #FFF
	--text-color-gas: #FFF
	--circles-first: 1
	--circles-first-gas: 1
	--circles-second: 0
	--circles-second-gas: 0
	--circles-third: 0
	--circles-third-gas: 0

.theme-one
	--main-bg-gas: #87289B
	--circles-first: 1
	--circles-first-gas: 0
	--circles-second: 0
	--circles-second-gas: 1
