@import "themes"
@import "common"
@import "animations"
@import "circle"
@import "btn"

.i-section
	overflow: hidden
	min-height: 100vh
	background-color: var(--main-bg)
	position: relative
	font-family: Poppins, Arial, sans-serif
	transition: background-color 0.25s ease-in-out
	&.theme-changed
		background-color: var(--main-bg-gas)
	+r(960)
		overflow: initial
	&__bg
		position: absolute
		top: 300px
		left: 50%
		transform: translate(-50%, -50%)
		width: 958px
		height: 826px
		img
			position: absolute
			top: 0
			left: 0
			height: 100%
			width: 100%
			opacity: 0
			transition: opacity 0.3s linear
			will-change: opacity
			&:nth-child(1)
				opacity: var(--circles-first)
			&:nth-child(2)
				opacity: var(--circles-second)
			&:nth-child(3)
				opacity: var(--circles-third)
			.theme-changed &
				&:nth-child(1)
					opacity: var(--circles-first-gas)
				&:nth-child(2)
					opacity: var(--circles-second-gas)
				&:nth-child(3)
					opacity: var(--circles-third-gas)

		.is-active &
			position: fixed
			+r(960)
				position: absolute
		+r(960)
			top: 50%
	&__container
		max-width: 1440px
		padding: 0 32px
		width: 100%
		margin: 0 auto
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		+r(960)
			flex-direction: row
			align-items: flex-start
			padding: 0 48px
		+r(1280)
			padding: 0 96px
	&__circle
		display: flex
		align-items: center
		margin-bottom: 162px
		&_desktop
			position: relative
			margin-bottom: 0
			.i-circle
				display: none
			+r(960)
				.i-circle
					display: flex
				justify-content: center
				height: 100vh
				position: sticky
				top: 0
				width: 50%
				margin-right: 96px
		&_mobile
			+r(960)
				display: none
	&__content
		position: relative
		z-index: 1
		text-align: center
		+r(960)
			margin: 60vh 0
			width: 50%
	&__content-item
		color: var(--text-color)
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		font-size: 14px
		padding: 48px 0
		max-width: 384px
		transition: color 0.3s ease-in-out
		.theme-changed &
			color: var(--text-color-gas)
		+r(960)
			min-height: 100vh
			max-width: 448px
		+r(1280)
			font-size: 18px
			font-weight: 300
		+r(1920)
			max-width: 528px
	&__content-title
		margin-bottom: 166px
		font-size: 24px
		+r(736)
			margin-bottom: 182px
		+r(960)
			margin-bottom: 32px
		+r(1280)
			line-height: 1.2
			font-size: 30px
	&__content-text
		h4
			font-size: 16px
			margin-bottom: 12px
			+r(1280)
				font-size: 18px
		p + h4
			margin-top: 32px
	&__btn
		display: flex
		justify-content: center
		margin-bottom: 48px
		&_desktop
			display: none
			+r(960)
				z-index: 2
				display: flex
				position: absolute
				bottom: 0
				left: 0
				width: 100%
		&_mobile
			+r(960)
				display: none
